<!doctype html>
{% extends 'layouts/base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT</title>
</head>
<body>
<h2>Help page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum excepturi fugit iusto perspiciatis quia quod
    reprehenderit repudiandae tenetur totam veritatis. Amet consectetur debitis earum est illo nesciunt nulla odio
    quaerat qui quis rem, ut voluptatibus? Amet delectus dolores dolorum ea excepturi facere, magnam, officia pariatur
    porro quas quibusdam rem vitae!</p>
</body>
</html>
{% endblock %}