<!doctype html>
{% extends 'layouts/base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INDEX</title>
</head>
<body>
<h1>PÁGINA DE INICIO </h1>
<p>Bienvenido {{ name }}</p>
<p>Estos son todos los proyectos: {{ projects }}</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid assumenda beatae consequatur corporis
    debitis deleniti dolor dolorem dolores eaque, earum eius eligendi et eum, exercitationem hic, in modi molestias
    nam non nostrum optio quasi quibusdam quidem quo quos reiciendis saepe similique suscipit tempora tempore
    tenetur voluptatum? Nam, voluptatibus.</p>
{% load static %}
<img src="{% static 'python_django.png' %}" alt="" width="200px">
</body>
</html>
{% endblock %}