<!doctype html>
{% extends 'layouts/base.html' %} <!-- Plantilla heredada -->

<!-- Insertamos el cuerpo de esta plantilla después de la plantilla heredada -->
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TASKS</title>
</head>
<body>
<h1>TAREAS</h1>
<ul>
    {% for task in tasks %}
        <li><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a></li> <!-- COMO PASAR UN ARGUMENTO A UN PATH-->
        ¿Realizado?:
        {% if task.done %}
            ✔
        {% else %}
            ✘
        {% endif %}
    {% endfor %}
</ul>
</body>
</html>
{% endblock %}